/* Created by: Mohamad
* Created on: Sep 2023
* This file contains the CSS for index.html
*/

.page-content {
  padding: 15px;
}

.donut {
  float: right;
}

.answer {
  font-size: 40px;
  color: green;
  padding: 20px;
}
