/* Created by: Mohamad
* Created on: Sep 2023
* This file contains the CSS for index.html
*/

.page-content {
  padding: 5px;
}

.donut {
  float: right;
  width: 250px;
  padding: 20px;
}

.answer {
  font-size: 40px;
  color: green;
  padding: 5px;
}

.area-and-perimeter {
  float: right;
  width: 450px;
  padding: 20px;
}
